<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">

<dom-module id="taps-elements">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <paper-tabs>
      <paper-tab>asd</paper-tab>
      <paper-tab>asd</paper-tab>
      <paper-tab>asd</paper-tab>
    </paper-tabs>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `taps-elements`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TapsElements extends Polymer.Element {
      static get is() { return 'taps-elements'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'taps-elements'
          }
        };
      }
    }

    window.customElements.define(TapsElements.is, TapsElements);
  </script>
</dom-module>
